﻿@model IEnumerable<Estagio.Escola.Dominio.Cadastro.CidadeEstado.EstadoBase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UF)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EstadoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EstadoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EstadoId })
        </td>
    </tr>
}

</table>
