﻿@model IEnumerable<Estagio.Escola.Dominio.Cadastro.CidadeEstado.BairroBase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CidadeBase.NomeCidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeBairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CidadeBase.NomeCidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeBairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BairroId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BairroId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BairroId })
        </td>
    </tr>
}

</table>
