﻿@model IEnumerable<Estagio.Escola.Dominio.Cadastro.CidadeEstado.CidadeBase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EstadoBase.NomeEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoBase.NomeEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCidade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CidadeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CidadeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CidadeId })
        </td>
    </tr>
}

</table>
