﻿@model Estagio.Escola.Dominio.Cadastro.CidadeEstado.BairroBase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BairroBase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CidadeBase.NomeCidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CidadeBase.NomeCidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeBairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeBairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BairroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
